<%- include header %>
<form method="post" action="/post">
	<div class="form-group">
		<input type="text" class="form-control" name="title" placeholder="标题">
	</div>
	<div class="form-group">
		<input type="text" name="tag" class="form-control" placeholder="标签">
	</div>
	<textarea name="content"  class="form-control" placeholder="文章内容"></textarea>
	<button type="submit" class="btn btn-default">发表</button>
</form>
<%- include footer %>